@font-face {
  font-family: "GangwonEduSaeeum";
  font-weight: normal;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gangwon/GangwonEduSaeeum.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gangwon/GangwonEduSaeeum.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gangwon/GangwonEduSaeeum.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gangwon/GangwonEduSaeeum.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gangwon/GangwonEduSaeeum.ttf")
      format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Black.woff")
    format("woff");
}

:root {
  font-family: "GangwonEduSaeeum", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: "GangwonEduSaeeum", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
}

body {
  margin: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
